@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline {
  text-decoration-color: #ecab2e;
}

.bg-testimoni {
  background-image: url(./assets/bgtestimoni.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-mentor{
  background-image: url();
}

@media only screen and (max-width: 640px) {
  .bg-testimoni {
    background-image: url(../app/assets/bgtestimonimobile.svg);
    background-size: cover;
  }

  .bg-mentor {
    background-image: url(../app/assets/mentor-bg.svg);
    background-size: cover;
  }
}
